*{
    color: white;
    background: #141414;
}
body{
    margin:0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #141414;
}


.container {
    margin-top: 3em;
    width: 100%;

}
.sec1 { position: relative;}